:root {
  --main-blue: #0076b3;
  --main-pink: #ff6584;
  --main-font-color: #101010;
  --light-black: #383838;
  --bg: #f0f2f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", sans-serif;
}
